</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
    <img src="https://media.giphy.com/media/13CoXDiaCcCoyk/giphy.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    Pets
    </a>
    <a class="btn btn-outline-success" href="/" style="color:white;border-color:white;">Cadastro de Gatinhos</a>
    <a class="btn btn-sm btn-outline-secondary" href="/dono/cadastro" style="color:white;border-color:white;">Cadastro de Donos</a>
    <a class="btn btn-outline-success" href="/" style="color:black;border-color:black;">Cadastro de Gatinhos</a>
    <a class="btn btn-sm btn-outline-secondary" href="/dono/cadastro" style="color:black;border-color:black;">Cadastro de Donos</a>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'logout' %}">Sair</a>
{% else %}
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
{% endif %}
  </nav>
    {% block body %}
    {% if user.is_authenticated %}
    <p>
        Olá {{ user.username }} seja bem vindo, o que deseja fazer hoje? 
        <span><a href="{% url 'logout' %}">Sair</a></span>
    </p>
{% endif %}
    <section class="container">
        <h1>Cadastro de Gatinhos</h1>
        <form method="POST">